<template name="Home">
  <!-- metro style template -->
  <h1>Inicio</h1>

  <div class="pagina">
      <div class="linha">
        <div class="tile amarelo"></div>
        <div class="tile azul"></div>
        <div class="tile tileLargo vermelho"></div>
        <div class="tile verde"></div>
      </div>
    <div class="row">
      <div class="col-sm-2 col-md-2">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>
      <div class="linha">
        <div class="tile"></div>
        <div class="tile"></div>
        <div class="tile"></div>
        <div class="tile tileLargo"></div>
        <div class="tile"></div>
        <div class="tile"></div>
      </div>
  </div>
</template>
